<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Suraj's Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Serif+Pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="holder headline">Suraj's Travel App</div>
      </header>

      <main>
        <div class="holder city">
          <label for="city">Enter City here</label>
          <input type="text" id="city" placeholder="Enter City here" />
        </div>

        <div class="holder date">
          <label for="date">Start Date</label>
          <input type="date" id="start" />
        </div>

        <div class="holder date">
          <label for="date">End Date</label>
          <input type="date" id="end" />
        </div>

        <div id="error-message"></div>

        <button id="generate" type="submit">Generate</button>

        <div id="cards"></div>
      </main>
    </div>

    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/sw.js");
        });
      }
    </script> -->
  </body>
</html>
