// primary shades 
$primary-dark: #545871;
$primary-base: #9497A7;
$primary-light: #DADBE7;
$primary-lighter: #F0F1F8;

// accent shades
$accent-dark: #C37E7B;
$accent-light: #F1CFCD;

// secondary shades
$secondary-dark: #E9DBDA;
$secondary-light: #FAECEB;


body{
    background: $secondary-dark;
    font-family: -apple-system, BlinkMacSystemFont, serif;
}

@media (max-width:500px) {
    #app {
        font-size: 4vw;
    }

    .headline {
        font-size: 6vw;
    }

    label {
        font-size: 5vw;
    }

    input { 
        font-size: 3.5vw;
    }

    button {
        font-size: 4vw;
        width: 40vw;
        height: 10vw;
    }
}

@media (max-width:1000px) {
    #app {
        font-size: 3vw;
    }

    .headline {
        font-size: 5vw;
    }

    label {
        font-size: 4vw;
    }

    input { 
        font-size: 2.5vw;
    }

    button {
        font-size: 3vw;
        width: 40vw;
        height: 10vw;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}

#app {
    display: grid;
    justify-items: center;
    grid-gap: 1em;
    font-size: 2vw;
    font-family: 'Source Serif Pro', serif;
}

.headline {
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: bold;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 5px;
}

input{
    display:block;
    height: 5vw;
    width: 30vw;
    background: $primary-lighter;
    color: $accent-dark;
    font-size: 1.5vw;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    margin-bottom: 10px;
}

button{
    width: 30vw;
    height: 5vw;
    background: $primary-dark;
    color: $primary-lighter;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 20px;
    margin-bottom: 20px;
}

.holder {
    align-self: center;
}

button:disabled {
    background: gray;
}

// Card CSS from https://getflywheel.com/layout/card-layout-css-grid-layout-how-to/
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.card {
    display: flex;
    background-color: $primary-lighter;
    border: 2px solid $primary-dark;
    border-radius: 20px;
    padding: .5rem;
    font-size: min(1.4vw, 25px);
}

.trip-image {
    border: 1px solid $primary-light;
    border-radius: 10%;
    padding: 3px;
    margin: 5px;
    width: 150px;
}

.trip-info {
    align-self: center;
    flex-grow: 1;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: $accent-light; 
    font-family: 'Source Sans Pro', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $accent-light; 
    font-family: 'Source Sans Pro', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $accent-light; 
    font-family: 'Source Sans Pro', sans-serif;

} 